name: npmplus
services:
  npmplus:
    container_name: npmplus
    image: docker.io/zoeyvid/npmplus:latest # or ghcr.io/zoeyvid/npmplus:latest
    restart: always
    # network_mode: host
    network:
      - lan
    ports:
      - '80:80'      # HTTP 流量
      - '81:81'      # 管理后台界面
      - '443:443'    # HTTPS 流量
      - '443:443/udp' # HTTP/3 (QUIC) 必需
    volumes:
      - "${DATA}/npmplus:/data"
#      - "/var/www:/var/www" # optional, if you want to use NPMplus directly as a webserver for html/php
#      - "/path/to/old/npm/letsencrypt/folder:/etc/letsencrypt" # Only needed for initial migration from original nginx-proxy-manager to this fork, remove after migration
#      - "shm-volume:/dev/shm/check-point" # required if you want to use the openappsec attachment module, also enable this volume at the end of this compose.yaml
    env_file:
      - .env

networks:
  lan:
    external: true
