networks:
  lan:
      external: true

services:
  
  aiclient2api:
    image: justlikemaki/aiclient-2-api:latest
    container_name: aiclient2api
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "8085-8087:8085-8087" 
      - "1455:1455"
      - "19876-19880:19876-19880"
    volumes:
      - ${DATA}/aiclient2api/configs:/app/configs
    environment:
      - ARGS=
    healthcheck:
      test: ["CMD", "node", "healthcheck.js"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
  
  aistudio2api:
    # image: hkfires/aistudiobuildws:latest
    build: https://github.com/hkfires/AIStudioBuildWS.git
    container_name: aistudio2api
    environment:
      - CAMOUFOX_INSTANCE_URL=${AIBUILD_URL}
      - CAMOUFOX_PROXY=${AIBUILD_PROXY}
    volumes:
      - ${DATA}/buildws/cookies:/app/cookies:rw
      - ${DATA}/buildws/logs:/app/logs:rw
    restart: always
    networks:
      - lan
    deploy:
      resources:
        limits:
          cpus: '2'       # 限制最多使用 2 个 CPU 核心
          memory: 4G        # 限制内存最大为 2GB
        reservations:
          memory: 2G      # 保证至少分配 512M 内存

  cli-proxy-api:
    image: eceasy/cli-proxy-api:latest
    container_name: cli-proxy-api
    networks:
      - lan
    ports:
      - "8317:8317"
      # - "8085:8085"
      # - "1455:1455"
      # - "54545:54545"
      # - "11451:11451"
    volumes:
      - ${DATA}/CLIProxyAPI/config.yaml:/CLIProxyAPI/config.yaml
      - ${DATA}/CLIProxyAPI/auths:/root/.cli-proxy-api
      - ${DATA}/CLIProxyAPI/logs:/CLIProxyAPI/logs
    restart: unless-stopped

  gemini-fastapi:
    image: ghcr.io/luuquangvu/gemini-fastapi:latest
    container_name: gemini-fastapi    
    # ports:
    #   - "18001:8000"
    networks:
      - lan
    volumes:
      - ${DATA}/gemini-fastapi/config:/app/config  # Uncomment to use a custom config file
      # - ${DATA}/certs:/app/certs        # Uncomment to enable HTTPS with your certs
      - ${DATA}/gemini-fastapi/data:/app/data
      - ${DATA}/gemini-fastapi/cache:/app/cache
    environment:
      - GEMINI_COOKIE_PATH=/app/cache
    restart: always

  clewdr:
    image: ghcr.io/xerxes-2/clewdr:latest
    container_name: clewdr
    volumes:
      - ${DATA}/clewdr:/etc/clewdr
    networks:
      - lan
    # ports:
    #   - "8484:8484"
    restart: unless-stopped

  grok2api:
    # image: 'tomiya233/grok2api:latest'
    # build: https://github.com/Tomiya233/grok2api.git
    image: ghcr.io/chenyme/grok2api:latest
    container_name: grok2api    
    # ports:
    #   - "18000:8000"
    volumes:
      - ${DATA}/grok2api:/app/data
      - ${DATA}/grok2api/logs:/app/logs
    environment:
      # - STORAGE_MODE=file
      TZ: Asia/Shanghai
      LOG_LEVEL: INFO
      SERVER_PORT: 8000
      SERVER_WORKERS: 1
      SERVER_STORAGE_TYPE: local
      
    networks:
      - lan
    restart: always
