networks:
  lan:
      external: true

services:
  easytier-web:
    image: easytier/easytier:latest 
    restart: always
    hostname: easytier-web
    container_name: easytier-web
    volumes:
      - ${DATA}/easytier/web:/app
    ports:
      # - "127.0.0.1:11211:11211"
      # - "22020:22020/udp"
      - "8000:8000"
    networks:
      - lan
    # environment:
    #   - TZ=Asia/Shanghai
    entrypoint: easytier-web-embed
    command: >
      --config-server-protocol ws
      --config-server-port 8000
      # 可选：指定 API 监听地址（如果前端访问有问题）
      # --api-host "http://0.0.0.0:11211"

  easytier:
    image: easytier/easytier:latest 
    hostname: oci-sjc
    container_name: easytier
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - TZ=Asia/Shanghai
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      # - ${DATA}/easytier/core:/root
      - /etc/machine-id:/etc/machine-id:ro
    command: --config-server udp://127.0.0.1:22020/user
