networks:
  lan:
      external: true

services:
  easytier-web:
    image: easytier/easytier:latest 
    entrypoint: easytier-web-embed
    restart: always
    hostname: easytier-web
    container_name: easytier-web
    volumes:
      - ${DATA}/easytier/web:/app
    ports:
      # - "127.0.0.1:11211:11211"
      - "22020:22020/udp"
    networks:
      - lan
    # environment:
    #   - TZ=Asia/Shanghai

  easytier:
    image: easytier/easytier:latest 
    hostname: oci-sjc
    container_name: easytier
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - TZ=Asia/Shanghai
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${DATA}/easytier/core:/root
      - /etc/machine-id:/etc/machine-id:ro # 映射宿主机机器码
    command: --config-server udp://127.0.0.1:22020/abc
